@charset "utf-8";
/* CSS Document */

html, html a
{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body
{
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Ubuntu', sans-serif;
}

#site
{
	float: left;
	width: 100%;
	height: 100%;
}

#main_menu
{
	float: left;
	display: none;
}

#main_content
{
	width: 100%;
	margin: 0 auto;
	display: block;
}

#content_blocks
{
	width: 92%;
	margin: 0 auto;
}

.content_block
{
	width: 100%;
	min-height: 2vh;
	background-color: #EBEBEB;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-radius: 15px;
}

#main_search
{
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	opacity: 0.7;
	display: table;
}

#menu_toggle_wrapper
{
	vertical-align: middle;
	display: table-cell;
}

#main_menu_toggle
{
	float: left;
	width: 100%;
	font-size: 50px;
	height: 50px;
	text-decoration: none;
	color: black;
	text-align: center;
	vertical-align: middle;
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#main_menu_toggle:hover
{
	opacity: 0.8;
}

#main_menu_toggle:active
{
	opacity: 0.5;
}

#search_bar
{
	float: left;
	display: table-cell;
	width: 83%;
	height: 125px;
	font-size: 35px;
	padding-left: 2%;
	padding-right: 2%;
}

#search_bar_input
{
	float: left;
	border: none;
	width: 100%;
	height: 100%;
	font-size: inherit;
	background-color: transparent;
}

#search_bar_input:focus
{
	outline: none;
}

#main_profile
{
	float: left;
	width: 100%;
}

#profile_primary_stats
{
	float: left;
	width: inherit;
}

#profile_secondary_stats
{
	float: left;
	width: inherit;
}

#player_team_helmet
{
	float: left;
	min-width: 10vw;
}

#player_team_helmet_img
{
}

#player_name
{
	float: left;
	font-size: 45px;
	min-width: 20vw;
	padding-top: 10px;
	padding-left: 5vw;
}

#player_number
{
	float: right;
	min-width: 10vw;
	padding-top: 10px;
	font-size: 45px;
	color: gray;
}

#player_position
{
	float: right;
	min-width: 10vw;
	padding-top: 10px;
	font-size: 45px;
	color: gray;
}

#player_simple_score
{
	float: right;
	min-width: 10vw;
	padding-top: 10px;
	font-size: 45px;
	color: gray;
}

#fantasy_stats
{
	float: left;
}

#fantasy_score_chart
{
	float: left;
}

#real_stats
{
	float: left;
}

#schedule
{
	float: left;
}



