@charset "utf-8";
/* CSS Document */

html, html a
{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body
{
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Ubuntu', sans-serif;
}

#site
{
	float: left;
	width: 100vw;
	height: 100vh;
	background-color: #EEEEEE;
}

#main_menu
{
	display: none;
	display: none;
	background-color: #454545;
}

#logo_container
{
	width: 100vw;
	height: 100vh;
	position: fixed;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	pointer-events: none;
}

#logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 92px;
}

#logo_start
{
	color: #FF666A;
}

#logo_end
{
	color: #333;
}

#main_content
{
	width: 100%;
	margin: 0 auto;
	display: block;
}

#content_blocks
{
	width: 92%;
	margin: 0 auto;
}

.content_block
{
	float: left;
	width: 0%;
	opacity: 0.0;
	display: none;
	min-height: 2vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-color: white;
}

.content_block_header
{
	float: left;
	background-color: #969BA0;
	color: #EDEEEF;
	width: 100%;
	font-size: 24px;
	padding: 10px;
	margin-left: -10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.content_block_main
{
	float: left;
	width: 100%;
	background-color: #F5F5F5;
	padding: 10px;
	margin-left: -10px;
	-moz-box-shadow:    0px 3px 2px 0px #ccc;
  	-webkit-box-shadow: 0px 3px 2px 0px #ccc;
  	box-shadow:         0px 3px 2px 0px #ccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#main_search
{
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	opacity: 0.7;
	display: table;
	-moz-box-shadow:    0px 3px 2px 0px #ccc;
  	-webkit-box-shadow: 0px 3px 2px 0px #ccc;
  	box-shadow:         0px 3px 2px 0px #ccc;
	margin-bottom: 15px;
}

#menu_toggle_wrapper
{
	vertical-align: middle;
	display: table-cell;
}

#main_menu_toggle
{
	float: left;
	width: 100%;
	font-size: 50px;
	height: 50px;
	text-decoration: none;
	color: black;
	text-align: center;
	vertical-align: middle;
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#main_menu_toggle:hover
{
	opacity: 0.8;
}

#main_menu_toggle:active
{
	opacity: 0.5;
}

#search_bar
{
	float: left;
	display: table-cell;
	width: 83%;
	height: 125px;
	font-size: 35px;
	padding-left: 2%;
	padding-right: 2%;
}

#search_bar_input
{
	float: left;
	border: none;
	width: 100%;
	height: 100%;
	font-size: inherit;
	background-color: transparent;
}

#search_bar_input:focus
{
	outline: none;
}

#search_bar_suggestions
{
	z-index: 100;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	margin-top: 129px;
	overflow: hidden;
}

.player_suggestion_item
{
	z-index: 100;
	text-decoration: none;
	color: inherit;
	width: 100%;
	min-height: 3.5vh;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	display: inline-block;
	padding-left: 10.5vw;
	background-color: #EEEEEE;
}

.player_suggestion_item:hover
{
	color: #CCC;
	background-color: #666;
}

.player_suggestion_item:active
{
	color: #FFF;
	background-color: #555;
}

#main_profile
{
	float: left;
	width: 100%;
}

#profile_primary_stats
{
	float: left;
	width: inherit;
}

#profile_secondary_stats
{
	float: left;
	width: inherit;
}

#player_team_helmet
{
	float: left;
	padding-left: 15px;
}

#player_team_helmet_img
{
	width: 45px;
}

#player_name
{
	float: left;
	font-size: 35px;
	padding-left: 2vw;
}

#player_position
{
	float: left;
	font-size: 25px;
	color: gray;
	margin-top: 10px;
	margin-left: 3px;
}

.player_stat
{
	float: right;
	min-width: 10vw;
	font-size: 35px;
	color: gray;
	padding-right: 15px;
}

.player_stat_name
{
	font-size: 25px;
	float: right;
	margin-top: 10px;
}

.player_stat_data
{
	float: right;
	color: #3A3A3A;
}

#player_average_points
{
}

#player_std_dev
{
}

#player_simple_score
{
}

#fantasy_stats
{
	float: left;
	width: 100%;
}

#fantasy_score_chart
{
	float: left;
	width: 100%;
}

#real_stats
{
	float: left;
}

#schedule
{
	float: left;
}



